<a href="https://colab.research.google.com/github/kristi-thinkful/thinkful-solutions/blob/master/python_III_pandas/descriptive_statistics.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [0]:
# this code allows the display of output from multiple calls without requiring print() each time
from IPython.core.interactiveshell import InteractiveShell
InteractiveShell.ast_node_interactivity = "all"
from scipy import stats
import pandas as pd
import warnings
warnings.filterwarnings("ignore")

## House Prices
For this assignment, you will analyze a dataset consisting of information about houses and their sale prices. Download the dataset [here](https://tf-assets-prod.s3.amazonaws.com/tf-curric/data-science/houseprices.csv). Load this table of data into a DataFrame called houseprices.

Answer the following questions (in individual cells):

1. How many rows of data does the table contain?
2. Are there any nulls in any columns?
3. How many distinct values are there in the mszoning column?
4. How many distinct values are there in the street column?
5. Describe the range of the saleprice.
6. Describe the range of the lotarea.
7. Is there a statistically significant difference between the prices of houses that have an open porch versus houses that do not have an open porch? How did you handle null values? Hint: use the variable openporchsf. You will need to transform this variable so that it can be used in a t-test.
8. Is there a significant correlation between the lotarea and saleprice variables? Are they positively or negatively correlated?

In [0]:
house_prices_url = 'https://raw.githubusercontent.com/kristi-thinkful/thinkful-solutions/master/python_III_pandas/data/houseprices.csv'
house_prices = pd.read_csv(house_prices_url)
house_prices.head()

   id  mssubclass mszoning  ...  saletype  salecondition saleprice
0   1          60       RL  ...        WD         Normal    208500
1   2          20       RL  ...        WD         Normal    181500
2   3          60       RL  ...        WD         Normal    223500
3   4          70       RL  ...        WD        Abnorml    140000
4   5          60       RL  ...        WD         Normal    250000

[5 rows x 81 columns]

###**1. How many rows of data does the table contain?**

In [0]:
print('There are {} rows in this dataset.'.format(house_prices.shape[0]))

There are 1460 rows in this dataset.

###**2. Are there any nulls in any columns?**

In [25]:
print('The columns with nulls are:\n', pd.Series(house_prices.columns[house_prices.isna().any()].tolist()))

The columns with nulls are:
 0      lotfrontage
1            alley
2       masvnrtype
3       masvnrarea
4         bsmtqual
5         bsmtcond
6     bsmtexposure
7     bsmtfintype1
8     bsmtfintype2
9       electrical
10     fireplacequ
11      garagetype
12     garageyrblt
13    garagefinish
14      garagequal
15      garagecond
16          poolqc
17           fence
18     miscfeature
dtype: object

###**3. How many distinct values are there in the mszoning column?**

In [29]:
print('There are {} unique values in the mszoning variable.'.format(house_prices['mszoning'].nunique()))

There are 5 unique values in the mszoning variable

###**4. How many distinct values are there in the street column?**

In [30]:
print('There are {} distinct values in the street column.'.format(house_prices['street'].nunique()))

There are 2 distinct values in the street column.

###**5. Describe the range of the saleprice.**

In [32]:
print('The minimum saleprice is ${} and the max saleprice is ${}.'.format(house_prices['saleprice'].min(), house_prices['saleprice'].max()))

The minimum saleprice is $34900 and the max saleprice is $755000.

###**6. Describe the range of the lotarea.**

In [33]:
print('The minimum lot area is {} and the max lot area is {}.'.format(house_prices['lotarea'].min(), house_prices['lotarea'].max()))

The minimum lot area is 1300 and the max lot area is 215245.

###**7. Is there a statistically significant difference between the prices of houses that have an open porch versus houses that do not have an open porch? How did you handle null values? Hint: use the variable openporchsf. You will need to transform this variable so that it can be used in a t-test.**

In [46]:
open_porch_true = house_prices[house_prices['openporchsf'] > 0]
open_porch_false = house_prices[house_prices['openporchsf'] == 0]
stats.ttest_ind(open_porch_true['saleprice'], open_porch_false['saleprice'])

Ttest_indResult(statistic=17.31355834212178, pvalue=3.209770265256579e-61)

The p-value is infintesimally small (and the T-value is large and positive). This is evidence of a strong, positive statistically significant difference in saleprice between homes with open porches and homes without.

###**8. Is there a significant correlation between the lotarea and saleprice variables? Are they positively or negatively correlated?**

In [47]:
stats.pearsonr(house_prices['lotarea'], house_prices['saleprice'])

(0.2638433538714057, 1.1231391549193063e-24)

There is a statistically significant, weak, positive correlation between lotarea and saleprice.